
@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<h3>Select A Typing Program</h3>

<input type="checkbox" />
<label>The-Lite-est-Typist-4-I.T. $25.00</label>
<br />
<input type="checkbox" />
<label>The-Typer-Viper-4-I.T. $50.00</label>
<br />
<input type="checkbox"/>
<label>The-T-1000-Type-inator-4-I.T. $75.00</label>
<br />
<input type="checkbox" />
<label>Smoking-Fingers-4-I.T. $100.00</label>

